:root {
  /* COLORS */
  --primary: hsl(25, 97%, 53%);
  --body-background: hsla(228, 11%, 9%, 1);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(217, 12%, 63%);
  --dark-blue: hsl(213, 19%, 18%);
}

body {
  background-color: var(--body-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 330px;
  height: 375px;
  background: rgb(35, 42, 52);
  background: linear-gradient(
    215deg,
    rgba(35, 42, 52, 1) 0%,
    rgba(23, 30, 40, 1) 59%
  );
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
}

.card-top > img {
  background-color: hsl(213, 19%, 18%);
  padding: 15px;
  border-radius: 50%;
}

h1 {
  font-family: "Outfit", sans-serif;
  color: var(--title-color);
  font-weight: 700;
  font-size: x-large;
  margin: 15px 0px;
}

p,span {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.5;
}

/* ---------- FORM STYLING ---------- */

.rating-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px 15px;
}

#warning{
  color: red;
  position: absolute;
  display: none;
}

#submit-button {
  background-color: var(--primary);
  border-radius: 15px;
  padding: 5px 0px;
  color: white;
  font-family: "Outfit", sans-serif;
  width: 100%;
  border: none
}
#submit-button:hover{
  background-color: white;
  color: var(--primary);
  cursor: pointer;
}

input{
  display: none;
}

label{
  background-color: var(--dark-blue);
  padding: 0.5em 1em;
  border-radius: 100%;
  font-family: "Outfit", sans-serif;
  color: var(--text-color)
}

input:checked + label{
  background-color: var(--text-color);
  color: white;
}

label:hover{
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}



/* ---------- THANKS PAGE ---------- */

.card-back{
  display: none;
  text-align: center;
  opacity: 0;
}
.card-back-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.back-image{
  align-self: center;
}
#rating-feedback{
  display: inline-block;
  background-color: var(--dark-blue);
  color: var(--primary);
  border-radius: 15px;
  padding: 5px 10px;
  margin-top:15px;
}
.hide{
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.show{
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity:1;}
}